@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

$font-inter: "Inter", sans-serif;
$white: #ffffff;
$primary-btn-blue: #2783f3;
$primary-btn-blue-hover: #1771e0;
$body-bgcolor: #f1f5f9;
$input-label-color: rgba(3, 6, 47, 1);
